.dashboard__intro {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard__intro h1 {
    margin-top: 0
}

.dashboard__intro h1 span {
    color: #FF0101;
}

.dashboard__intro p {
    font-size: 18px;
}

.dashboard__intro__switch {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.dashboard__intro__switch:hover {
    background-color: #020203;
    color: #fff;
    cursor: pointer;
}


